# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.pem

vendor/

test-payload.json

checkr-darwin-amd64
checkr-linux-amd64
checkr-windows-amd64.exe
